@charset "UTF-8";

body {
	font-family:"Helvetica Neue", "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Verdana, Meiryo, sans-serif;
	color: #f5f5f5;
}

img {
	max-width: 100%
}

a {
	text-decoration:none;
	color: #f5f5f5;
}

ul {
	text-decoration:none;
}

/* ーーーー
レイアウト
ーーーー*/

#message, #about_title, #members, #service {
	padding: 80px 0;
}

@media screen and (max-width: 640px) {
			#message, #about_title, #members, #service {
				padding: 40px 0;
			}
			}

.section-inner {
 max-width: 1056px;
 margin: 0 auto;
}

/* pcとspで表示を切り替えたい時のCSS① */
.pc-only {
    display: block;
}
.sp-only {	/* pc時に非表示 */
 	 display: none;
}

@media screen and (max-width:640px){
			 .section-inner	{
				 padding: 0 24px;
				 max-width: 550px;
			 }

			 /* pcとspで表示を切り替えたい時のCSS① */
			 .pc-only {
			     display: none;
			 }
			 .sp-only {
			  	 display: block;
			 }

		}


.col-3 {
	display: flex;
	justify-content: space-between;
}

.col-3 .item {
		width: calc((100% - 40px)/3);
}




/* ーーーー
テキスト
ーーーー*/
h2.heading{
	font-size: 45px;
	letter-spacing: 0.18em;
	margin: 0 0 80px 20px;
}


h2.medium {
	/* 文字の種類を指定 */
	font-family: 'Roboto Condensed', sans-serif;
	/* 文字の太さを指定 */
	font-weight: bold;
	/* 文字のサイズを指定 */
	font-size: 25px;
	/* 文字間を指定 */
	letter-spacing: 0.16em;
	/* 左右中央に配置 */
	text-align: center;
}


h3.large {
	/* 文字の太さを指定 */
	font-weight: bold;
	/* 文字のサイズを指定 */
	font-size: 28px;
	/* 行間を指定*/
	line-height: 1.5;
	/* 文字間を指定 */
	letter-spacing: 0.16em;
	/* 下に外側余白20pxを設定 */
	margin-bottom: 40px;
}

h3.medium {
	/* 文字の種類を指定 */
	font-family: 'Roboto Condensed', sans-serif;
	/* 文字の太さを指定 */
	font-weight: bold;
	/* 文字のサイズを指定 */
	font-size: 25px;
	/* 文字間を指定 */
	letter-spacing: 0.16em;
	/* 文字中央揃えに指定 */
	text-align: center;
}

p.medium {
	/* 文字のサイズを指定 */
	font-size: 20px;
	/* 行間を指定*/
	line-height: 2.7;
	/* 文字間を指定 */
	letter-spacing: 0.18em;
}

p.small {
	/* 文字のサイズを指定 */
	font-size: 16px;
	/* 行間を指定*/
	line-height: 2;
	/* 文字間を指定 */
	letter-spacing: 0.08em;
}

/* 背景グラデーション */

html,body {
	height: 100%;
}

body:after {
	position: fixed;
	top: 0; left: 0;
	width: 100%;
	content: "";
	background: #8b96af;
  background: linear-gradient(180deg, rgba(139, 150, 175, 1), rgba(228, 233, 237, 1) 67%, rgba(201, 210, 222, 1));
}

/* ーーーー
　ヘッダー
ーーーー */
#header {
	background-color: #999999;
	width: 100%;
	padding: 0 20px;
	height: 70px;
	display: flex;
	justify-content: space-between;
	position: fixed;
	top: 0;
	z-index: 1;
}

/* 企業ロゴ */
.header-logo {
	display: flex;
	align-items: center;
	width: 150px;
}

.header-logo a {
	display: flex;
}

/* グローバルナビゲーション */
nav.gnav-pc-wrap{
	display: flex;
	align-items: center;
}

ul.gnav-pc li{
	display: inline;
	margin-right: 40px;
}　

ul.gnav-pc li a{
	transition: color 1s;
}

ul.gnav-pc li a:hover{
	color: #565e78;
}

/* エントリーボタン */
#header a.entrybutton img {
	width: 150px;
}


a.entrybutton img {
	transition: all 0.3s;

}
a.entrybutton img:hover{
	opacity: 0.7;

}

/* スマホの要素を消す */

#menu-trigger {
	display: none;
}

.gnav-sp-wrap {
	display: none;
}

.gnav-sp-button {
	display: none;
}


/* スマホ */
@media screen and (max-width: 640px) {
			#header {
				height:60px;
				padding: 0;
			}

		/* パソコンの要素を消す */
			#header a.entrybutton {
				display: none;
			}

			.header-logo {
				display: none;
			}

			.header-logo a {
				display: none;
			}

			.gnav-pc-wrap {
				display: none;
			}

			ul.gnav-pc li{
				display: none;
			}

			nav.gnav-pc-wrap {
				display: none;
			}

	/* ハンバーガーメニュー */
	#menu-trigger {
		display: block;
		width: 60px;
		height: 60px;
		padding: 14px 18px;

		}

		.menu-trigger-inner {
			position: relative;
			display: block;
			width: 100%;
			height: 100%;
		}
		.menu-trigger-inner span {
			display: block;
			position: absolute;
			height: 2px;
			width: 100%;
			background:	#f5f5f5;
		}

		.menu-trigger-inner span:nth-of-type(1){
			/* ハンバーガーボタン一番目の線 */
			top: 0;
		}
		.menu-trigger-inner span:nth-of-type(2){
			/* ハンバーガーボタン二番目の線（上下中央に配置） */
			top: 0;
			bottom: 0;
			margin: auto;
		}
		.menu-trigger-inner span:nth-of-type(3){
			/* ハンバーガーボタン三番目の線 */
		    bottom: 0;
		}


		/* ハンバーガーボタンをクリックしたら×にする */
		.close span:nth-of-type(1){
		    width: 100%;
			/* 線を45度右下に傾ける */
		    transform: rotate(45deg);
			/* 位置の微調整 */
			top: 15px;
		}
		.close span:nth-of-type(2){
			/* 2番目の線は見えなくする */
		    opacity: 0;
		}
		.close span:nth-of-type(3){
		    width: 100%;
			/* 線を45度右上に傾ける */
		    transform: rotate(-45deg);
			/* 位置の微調整 */
			bottom: 15px;
		}


		/* 企業ロゴ */
		#gnav-logo {
			margin: 0 auto;

		}

		/* エントリーボタン */
	#gnav-entry {
		transform: rotate(45deg);
		}

/* スマホのヘッダー中身 */
		.gnav-sp-button {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
		}

/* ハンバーガーメニューの中身 */
	.gnav-sp-wrap	{
			display: none;
			width: 100%;
			height: 100%;
			background: #8b96af;
			position: fixed;
			z-index: 100;
			padding-top: 100px;
		}


		ul.gnav-sp li {
			text-align: center;
			margin-bottom: 30px;
		}

		ul.gnav-sp li a{
			font-size: 20px;
			letter-spacing: 0.1em;
		}

}


/* ーーーー
メインビジュアル
ーーーー */
#mainvisual {
	background-image: radial-gradient(circle farthest-side at 24% 31%,
	rgba(230, 170, 9, 0.42) 1%,
	 rgba(201, 210, 222, 1) 40%,
	 rgba(139, 150, 175, 1) 79%,
	 rgba(86, 94, 120, 1));
	 background-color: #8b96af;
	height: 800px;
	position: relative;
	margin-top: 70px;
}


.maincopy {
	color: #f5f5f5;
	font-size: 40px;
	line-height: 2.5;
	letter-spacing: 0.18em;
	text-align: center;
	align-items: center;
	position: absolute;
	left: 20%;
	bottom: 50%;
}

@media screen and (max-width: 640px) {

#mainvisual {
	background-image: radial-gradient(circle farthest-side at 45% 39%,
	rgba(230, 170, 9, 1) -143%,
	 rgba(201, 210, 222, 1) 75%,
	 rgba(139, 150, 175, 1) 150%,
	 rgba(86, 94, 120, 1));
	 background-color: #8b96af;


	height: 400px;
	margin-top: 60px;
}

.maincopy {
	font-size: 25px;
}

}


/* 各セクション英字と線の見出し */

/* 英字テキストの情報 */
.heading span {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	color: #f5f5f5;
	font-size: 27px;
	font-style: italic;
	font-family: 'Noto Sans JP', sans-serif
}

@media screen and (max-width: 640px) {

	.heading span {
		font-size: 10px;
	}

}

/* 線を疑似要素で表現 */
.heading span::before {
	content: '';
	display: inline-block;
	margin-right: 20px;
	width: 150px;
	height: 1px;
	background-color: #f5f5f5;
}

@media screen and (max-width: 640px) {

	.heading span {
		font-size: 18px;
	}

	.heading span::before {
		width: 75px;
	}

	h2.heading {
		font-size: 30px;
	}

}

/*ーーーー
 メッセージ
  ーーーー*/
#message {
	background-color: #8b96af;
	width: 100%;
}

@media screen and (max-width: 640px) {

	p.medium {
		font-size: 18px;
		line-height: 2.6;
		letter-spacing: 0.12em;
	}
}


/* ーーーーーーーーーーーー
インターン＆イベント
ーーーーーーーーーーーーーー */

#internandevent {
	background-image: url(../images/interneventpic.jpg);
  background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #8b96af;
	width: 100%;
	padding: 80px 0;
}

#internandevent h3.large {
	text-align: center;
	line-height: 0.5;
}

.internandevent_item_wrap{
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	padding: 0 100px 0 100px;
}

a.entry_item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	padding: 30px 33px 30px 30px;
	margin: 10px 10px 10px 10px;
	width: 400px;
	height: auto;
	font-size: 20px;
	font-weight: 700;
	text-decoration: none;
	background-color: rgba(86, 94, 120, 0.65);
	transition: all 0.5s;
}

a.entry_item:hover {
		background: rgba(0, 0, 0, 0.5);
}


/* 外部リンクのアイコン』部分 */
a.entry_item::before {
	content: '';
	position: absolute;
	bottom: 33px;
	right: 28px;
	width: 18px;
	height: 10px;
	border-right: 2px solid #f5f5f5;
	border-bottom: 2px solid #f5f5f5;
}

/* 外部リンクのアイコン口部分 */
a.entry_item::after {
	content: '';
	width: 18px;
	height: 10px;
	border: 2px solid #f5f5f5;
}

.internandevent_item_wrap {
	display: flex;
	flex-wrap: wrap;
}

#internandevent a.entrybutton {
	width: 100%;
	height: 100%;
}

a.entrybutton img {
	margin: 20px 0;
	width: 200px;
}

.internandevent_entry{
	margin: 80px 0 0 0;
	text-align: center;

}

@media screen and (max-width: 640px) {
 #internandevent {
	 padding: 40px 0;
 }

	h3.large {
		font-size: 20px;
		line-height: 0.2;}

	.internandevent_item_wrap {
		padding: 0 10px;
		display: block;
		justify-content: center;
		}

	a.entry_item {
		justify-content: space-between;
		padding: 25px;
		margin: 20px auto;
		width: 300px;
		font-size: 18px;
		font-weight: bold;
		text-decoration: none;
		background-color: rgba(86, 94, 120, 0.65);
		}

		a.entry_item::before {
			content: '';
			position: absolute;
			bottom: 28px;
      right: 21px;
			width: 18px;
			height: 10px;
			border-right: 2px solid #f5f5f5;
			border-bottom: 2px solid #f5f5f5;
		}


		a.entry_item::after {
			content: '';
			width: 18px;
			height: 10px;
			border: 2px solid #f5f5f5;
		}

		.internandevent_entry{
			margin: 40px 0 0 0;
			text-align: center;
		}
	}


/* ーーーーーー
私たちについて
ーーーーーー*/

#about_title {
	background-color: #8b96af;
	width: 100%;
}

.about_item_wrap {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.about_item {
	width: calc((100% - 120px)/2);
	padding: 0 30px;
	margin: 25px 25px;
	background-color: rgba(86, 94, 120, 0.65);
	transition: all 0.5s;
}

.about_item_col2 {
	display: flex;
	justify-content: space-between;
}

.about_item h3.large{
	margin: 20px 0 10px 0;
	text-align: center;
}

.about_item p{
	margin: 0 50px 20px 50px;
	text-align: center;
}

a.about_item_detail {
	background-color: rgba(86, 94, 120, 0.65);
	width: 270px;
}


a.about_item_format {
	background-color: rgba(86, 94, 120, 0.65);
	width: 270px;


}

a.about_item_data {
	background-color: rgba(86, 94, 120, 0.65);
	width: 270px;

}

a.about_item_inhouse {
	background-color: rgba(86, 94, 120, 0.65);
	width: 270px;

}

.about_item:hover {
	background: rgba(0, 0, 0, 0.5);
	}


@media screen and (max-width: 640px) {
	.about_item_wrap {
		display: block;
	}

	.about_item_col2 {
		display: block;
	}

	.about_item {
		padding: 10px 30px;
		margin: 25px 0;
		width: 100%;
		height: auto;
		background-color: rgba(86, 94, 120, 0.65);
	}

	.about_item h3.large{
		margin: 20px 0 20px 0;
	}

 }



/*ーーーーー
メンバー
ーーーーー*/
#members {
	background: linear-gradient(180deg, rgba(139, 150, 175, 1), rgba(228, 233, 237, 1) 67%, rgba(201, 210, 222, 1));
}

#members h3{
	font-size: 16px;
	color: #565e78;
	font-weight: normal;
}

.member_list {
	margin: 0;
	width:32%;
	text-align: left;
	background: #f4f4f4;
}

.member_text	{
	padding: 0 10px 10px 10px;
}


.member_img {
	transition: all 0.5s ease;
	position: relative;
}


	.member_img .member img:hover {
		opacity: 0.5;
	}

	.member_img::after {
		content: 'Read More';
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		color: #565e78;
		text-align:center;
		letter-spacing: 2px;
		font-size: 14px;
		opacity: 0;
		transition: all 0.5s ease;

	}

	.member_img:hover::after {
			opacity: 1;
		}


@media screen and (max-width: 640px) {
	 .col-3	{
		 display: block;
	 }

	 .member_list {
		 width: 100%;
		 margin: 40px 0;
	 }
}



#service {
	background: linear-gradient(180deg, rgba(139, 150, 175, 1), rgba(228, 233, 237, 1) 67%, rgba(201, 210, 222, 1));
}


a.service img {
	width: 100%;
}


.service_img	{
	position: relative;
}

.service_text	{
	position: absolute;
	top: 80%;
	left: 10%;
	text-align: left;
}

.service_list {
	margin: 10px 10px 10px 10px;
	width:32%;
	text-align: left;
	position: relative;
	overflow: hidden;
}

#serivice a.service {
	position: absolute;
	text-align: center;

}

#service a.entrybutton img {
	margin-top: 80px;

}

a.service img .mask .hidden_text {
	font-size: 130%;
	color: #fff;
	padding-top: 80px;
	padding-left: 0px;

}


a.service .mask {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	padding: 100px 50px;

	background: rgba(0, 0, 0, 0.5);
	text-align: center;
	-webkit-transition: all 0.6s ease;
	transition: all 0.6s ease;
}

a.service:hover .mask {
	opacity: 1;
	padding-top: 50px;
}


@media screen and (max-width: 640px) {

	 .service_list {
		 width: 100%;
		 height: auto;
		 margin: 30px auto;
		 background: rgba(86, 94, 120, 0.65);
	 }

	 #service a.entrybutton img {
	 	margin-top: 40px;

	 }

	 .service_text	{
	 	position: absolute;
	 	top: 0%;
	 	left: 0%;
	 	text-align: left;
		padding-left: 10px;
		padding-top: 10px;
	 }

	 a.service .mask {
	 	width: 100%;
	 	height: 100%;
	 	position: absolute;
		opacity: 1;
	 	top: 0;
	 	left: 0;
	 	padding: 100px 50px;

	 	background: rgba(0, 0, 0, 0.5);
	 	text-align: center;
	 }

}

#footer {
	background-color: #565e78;
	height: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 14px;

}

ul.footerlink li{
	display: inline;
	margin-right: 40px;
}

@media screen and (max-width: 640px) {

#footer {
	display: block;
	height: auto;
	font-size: 10px;
}

	#footer p {
		padding: 10px;
		text-align: center;
	}

	ul.footerlink li{
		display: block;
		padding: 10px;
	}
}

.entrybutton_end {
	text-align: center;
}


a.service img {
	width: 100%;
}


/*===============================================
PC : 画面の横幅が769px以上
=================================================*/

.example {
	font-size: 50px;
	color: #99293D;
}



/*================================================
Smartphone :  画面の横幅が640pxまで
=================================================*/
